# Reading HTML content

In [3]:
import pandas as pd

In [7]:
url='https://en.wikipedia.org/wiki/Samantha_Akkineni_filmography'
url2='https://en.wikipedia.org/wiki/Mobile_country_code'

In [5]:
df=pd.read_html(url)

In [6]:
df

[    0                                              1
 0 NaN  Denotes films that have not yet been released,
     Year                               Title                   Role(s)  \
 0   2010            Vinnaithaandi Varuvaayaa                   Nandini
 1   2010                    Ye Maaya Chesave                    Jessie
 2   2010                      Baana Kaathadi                     Priya
 3   2010                     Moscowin Kavery                    Kavery
 4   2010                         Brindavanam                      Indu
 5   2011                    Nadunisi Naaygal            Asylum patient
 6   2011                             Dookudu                Prashanthi
 7   2012                     Ekk Deewana Tha                  Samantha
 8   2012                                Eega                     Bindu
 9   2012                             Naan Ee                     Bindu
 10  2012           Neethaane En Ponvasantham          Nithya Vasudevan
 11  2012           Yeto Vellipoyindhi Manasu         Nithya Yelavarthy
 12  2013  Seethamma Vakitlo Sirimalle Chettu                    Geetha
 13  2013                          Jabardasth                    Shreya
 14  2013       Theeya Velai Seiyyanum Kumaru                   Herself
 15  2013                  Attarintiki Daredi                     Sashi
 16  2013                 Ramayya Vasthavayya                   Akarsha
 17  2014                               Manam  Krishnaveni and Priya[a]
 18  2014                     Autonagar Surya                   Sirisha
 19  2014                        Alludu Seenu                    Anjali
 20  2014                              Anjaan                     Jeeva
 21  2014                             Rabhasa                      Indu
 22  2014                             Kaththi                   Ankitha
 23  2015                     S/O Satyamurthy                   Sameera
 24  2015                    10 Endrathukulla  Shakila and Gadgi Moi[a]
 25  2015                        Thanga Magan                    Yamuna
 26  2016                   Bangalore Naatkal                     Grace
 27  2016                               Theri                    Mithra
 28  2016                                  24                    Sathya
 29  2016                        Brahmotsavam               Unnamed NRI
 30  2016                                A Aa        Anasuya Ramalingam
 31  2016                      Janatha Garage                     Bujji
 32  2017                   Raju Gari Gadhi 2                   Amrutha
 33  2017                              Mersal                      Tara
 34  2018                        Rangasthalam              Rama Lakshmi
 35  2018                            Mahanati               Madhuravani
 36  2018                       Irumbu Thirai                Rathi Devi
 37  2018                           Seemaraja        Sundhanthira Selvi
 38  2018                              U Turn                   Rachana
 39  2018                              U Turn                   Rachana
 40  2019                        Super Deluxe                    Vaembu
 41  2019                              Majili                   Sravani
 42  2019                            Oh! Baby          Swathi (Baby)[b]
 43  2019                        Manmadhudu 2      Architecture student
 44  2020                               Jaanu    Janaki Devi (Jaanu)[b]

    Language(s)                                              Notes      Ref.
 0        Tamil                                   Cameo appearance       [5]
 1       Telugu  Filmfare Award for Best Debut Actress Nominate...       [6]
 2        Tamil                                                NaN       [7]
 3        Tamil                                                NaN       [8]
 4       Telugu                                                NaN       [9]
 5        Tamil                                   Cameo appearance      [10]
 6       Telugu  Nominated — Filmfare Award for Best Actress — ...      [11]
 7        Hindi                                   Cameo appearance      [12]
 8       Telugu           Filmfare Award for Best Actress – Telugu      [13]
 9        Tamil                                                NaN      [14]
 10       Tamil            Filmfare Award for Best Actress – Tamil      [15]
 11      Telugu                                                NaN      [16]
 12      Telugu                                                NaN      [17]
 13      Telugu                                                NaN      [18]
 14       Tamil                                   Cameo appearance      [19]
 15      Telugu  Nominated — Filmfare Award for Best Actress — ...      [20]
 16      Telugu                                                NaN      [21]
 17      Telugu  Nominated — Filmfare Award for Best Actress — ...      [22]
 18      Telugu                                                NaN      [23]
 19      Telugu                                                NaN      [24]
 20       Tamil                                                NaN      [25]
 21      Telugu                                                NaN      [26]
 22       Tamil  Nominated — Filmfare Award for Best Actress — ...      [27]
 23      Telugu                                                NaN      [28]
 24       Tamil                                                NaN  [29][30]
 25       Tamil                                                NaN      [31]
 26       Tamil                                   Cameo appearance      [32]
 27       Tamil  Nominated — Filmfare Award for Best Actress — ...      [33]
 28       Tamil  Nominated — Filmfare Award for Best Actress — ...      [34]
 29      Telugu                                                NaN      [35]
 30      Telugu           Filmfare Award for Best Actress – Telugu      [36]
 31      Telugu                                                NaN      [37]
 32      Telugu                                                NaN      [38]
 33       Tamil                                                NaN      [39]
 34      Telugu  Nominated — Filmfare Award for Best Actress — ...      [40]
 35      Telugu  Nominated — Filmfare Award for Best Actress in...      [41]
 36       Tamil                                                NaN      [42]
 37       Tamil                                                NaN      [43]
 38       Tamil                                                NaN      [44]
 39      Telugu                                                NaN      [45]
 40       Tamil                                                NaN      [46]
 41      Telugu                                                NaN      [47]
 42      Telugu                                                NaN  [48][49]
 43      Telugu                                   Cameo appearance      [50]
 44      Telugu                                                NaN      [51]  ,
   Year           Title Role(s)                      Notes  Ref.
 0  TBA  The Family Man     TBA  Post-production, Season 2  [52]]

In [8]:
df2=pd.read_html(url2)

In [11]:
df2[0]

,MCC,MNC,Brand,Operator,Status,Bands (MHz),References and notes
0,1,1,TEST,Test network,Operational,any,NaN
1,1,1,TEST,Test network,Operational,any,NaN
2,999,99,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[4]"
3,999,999,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[4]"

In [12]:
df2[1]

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN
...,...,...,...,...,...,...
247,452,Vietnam,VN,List of mobile network codes in the Vietnam,NaN,NaN
248,543,W Wallis and Futuna,WF,List of mobile network codes in Wallis and Futuna,NaN,NaN
249,421,Y Yemen,YE,List of mobile network codes in the Yemen,NaN,NaN
250,645,Z Zambia,ZM,List of mobile network codes in Zambia,NaN,NaN
251,648,Zimbabwe,ZW,List of mobile network codes in Zimbabwe,NaN,NaN





### Extracts the table which contains operator

In [19]:
df=pd.read_html(url2,match='Operator')

In [20]:
df

[   MCC  MNC Brand      Operator       Status Bands (MHz)  \
 0    1    1  TEST  Test network  Operational         any
 1    1    1  TEST  Test network  Operational         any
 2  999   99   NaN  Internal use  Operational         any
 3  999  999   NaN  Internal use  Operational         any

                               References and notes
 0                                              NaN
 1                                              NaN
 2  Internal use in private networks, no roaming[4]
 3  Internal use in private networks, no roaming[4]  ,
     MCC  MNC     Brand                                           Operator  \
 0   901    1       ICO                           ICO Satellite Management
 1   901    2       NaN                                         Unassigned
 2   901    3   Iridium                                                NaN
 3   901    4       NaN                                         Unassigned
 4   901    5       NaN                               Thuraya RMSS Network
 ..  ...  ...       ...                                                ...
 76  901   77       NaN                                   Bouygues Telecom
 77  901   88       NaN  UN Office for the Coordination of Humanitarian...
 78  902    1       NaN                                MulteFire Allicance
 79  991    1       NaN                             World's Global Telecom
 80  991    2  5G Croco                                        Orange S.A.

              Status Bands (MHz)  \
 0   Not operational   Satellite
 1    Returned spare     Unknown
 2       Operational   Satellite
 3    Returned spare   Satellite
 4       Operational   Satellite
 ..              ...         ...
 76          Unknown     Unknown
 77          Unknown     Unknown
 78      Operational         LTE
 79          Unknown     Unknown
 80          Unknown          5G

                                  References and notes
 0                                   MNC withdrawn[45]
 1        Formerly: Sense Communications International
 2                                                 NaN
 3                                Formerly: Globalstar
 4                                                 NaN
 ..                                                ...
 76                                               [86]
 77                                               [87]
 78                                                [4]
 79  temporarily assigned until 15 January 2021[80]...
 80       temporarily assigned until 6 August 2021[89]

 [81 rows x 7 columns],
    MCC  MNC     Brand                 Operator       Status Bands (MHz)  \
 0  995    1  FonePlus  Sure (Diego Garcia) Ltd  Operational     GSM 900

                                 References and notes
 0  There appears to be no officially assigned MCC...  ]